body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  font-family: consolas, serif;
  color: white;
}

button {
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  background: transparent;
  border: transparent;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 12px;
  overflow: hidden;
  transition: 0.2s;
}

button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}

button span {
  position: absolute;
  display: block;
}

h3, h2 {
  color: aliceblue;
}
